<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from www.digigold.com/delivery/redeem-gold by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Aug 2023 05:09:24 GMT -->
  <!-- Added by HTTrack --><meta
    http-equiv="content-type"
    content="text/html;charset=UTF-8"
  /><!-- /Added by HTTrack -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta
      name="description"
      content="Order to get physical delivery of gold & silver at your door step with DigiGold."
    />
    <meta name="keywords" content="Delivery, Gold Delivery Online" />
    <meta property="og:type" content="Website" />
    <meta
      property="og:title"
      content="Get Physical Gold & Silver Delivery with DigiGold"
    />
    <meta
      property="og:description"
      content="Order to get physical delivery of gold & silver at your door step with DigiGold."
    />
    <title>Get Physical Gold & Silver Delivery with DigiGold | DigiGold</title>
    <meta property="og:url" content="redeem-gold.html" />
    <meta property="og:site_name" content="www.digigold.com" />
    <meta
      name="csrf-token"
      content="LA6GQmE3e14QBBBhwHeBMf4sioyEvj5iuyGu4aL7"
    />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "../../www.googletagmanager.com/gtm5445.html?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-K6JJM6M");
    </script>

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-F1ZXT4ZGX0"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-F1ZXT4ZGX0");
    </script>
    <meta
      name="facebook-domain-verification"
      content="jejoxua8velaz32r8rnzbp1rkp3xlw"
    />
    <!-- Facebook Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "../../connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "469528951321099");
      fbq("track", "PageView");
      fbq("track", "ViewContent", {
        value: 1,
        currency: "INR",
      });
    </script>

    <!-- End Facebook Pixel Code -->

    <link
      rel="apple-touch-icon"
      href="../media/original/public/site/3KEYG56QtPPBKZpBR61UTggGf8hPvVOicondasd.png"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../media/original/public/site/3KEYG56QtPPBKZpBR61UTggGf8hPvVOicondasd.png"
    />
    <link href="../css/select2.css" rel="stylesheet" />
    <link href="../css/vendor.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/jquery.selectBoxIt.css" />
    <link href="../css/docs.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/homepage.css" />
    <link rel="canonical" href="redeem-gold.html" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "DIGIGOLD",
        "url": "https://www.digigold.com",
        "description": "DigiGold is India's most trusted digital platform for gold and silver where you can buy, sell and store online at live market rates.",
        "telephone": "+91 75740 09400",
        "logo": "https://www.digigold.com/media/original/public/site/MIL9Tq4ZmrTj6osbSD2a2ZIOISPAAPuGPxXccd9x.png",
        "sameAs": [
          "https://www.facebook.com/digigoldind",
          "https://www.instagram.com/digigoldind/",
          "https://www.linkedin.com/company/digigold",
          "https://www.youtube.com/channel/UC5hNuESG8VecSQRQhwdM41Q"
        ],
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "19-20-21, Narayan Chambers, 3rd Floor, Behind Patang Hotel, Ashram Road,",
          "addressLocality": "Ahmedabad",
          "addressRegion": "Gujarat",
          "postalCode": "380009",
          "addressCountry": "India"
        }
      }
    </script>
    <link href="../css/theme.css" rel="stylesheet" />
    <style type="text/css">
      .quickbuy-block:before {
        background-image: url(../media/original/public/content/K7rF16ghsIIqIMw3QfhLuwFo8C5HjVVSb3Wik1Nq.png);
      }

      /* cyrillic-ext */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_aZA3gTD_u50.html")
          format("woff2");
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
          U+A640-A69F, U+FE2E-FE2F;
      }

      /* cyrillic */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_aZA3g3D_u50.html")
          format("woff2");
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }

      /* vietnamese */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_aZA3gbD_u50.html")
          format("woff2");
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
          U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      }

      /* latin-ext */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_aZA3gfD_u50.html")
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }

      /* latin */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_aZA3gnD_g.html")
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /* cyrillic-ext */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_cJD3gTD_u50.html")
          format("woff2");
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
          U+A640-A69F, U+FE2E-FE2F;
      }

      /* cyrillic */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_cJD3g3D_u50.html")
          format("woff2");
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }

      /* vietnamese */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_cJD3gbD_u50.html")
          format("woff2");
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
          U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      }

      /* latin-ext */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_cJD3gfD_u50.html")
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }

      /* latin */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.html")
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /* cyrillic-ext */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("../fonts/home/JTUSjIg1_i6t8kCHKm459WRhyzbi.html")
          format("woff2");
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
          U+A640-A69F, U+FE2E-FE2F;
      }

      /* cyrillic */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("../fonts/home/JTUSjIg1_i6t8kCHKm459W1hyzbi.html")
          format("woff2");
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }

      /* vietnamese */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("../fonts/home/JTUSjIg1_i6t8kCHKm459WZhyzbi.html")
          format("woff2");
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
          U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      }

      /* latin-ext */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("../fonts/home/JTUSjIg1_i6t8kCHKm459Wdhyzbi.html")
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }

      /* latin */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("../fonts/home/JTUSjIg1_i6t8kCHKm459Wlhyw.html")
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /* cyrillic-ext */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_ZpC3gTD_u50.html")
          format("woff2");
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
          U+A640-A69F, U+FE2E-FE2F;
      }

      /* cyrillic */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_ZpC3g3D_u50.html")
          format("woff2");
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }

      /* vietnamese */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_ZpC3gbD_u50.html")
          format("woff2");
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
          U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      }

      /* latin-ext */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_ZpC3gfD_u50.html")
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }

      /* latin */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.html")
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /* cyrillic-ext */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_bZF3gTD_u50.html")
          format("woff2");
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
          U+A640-A69F, U+FE2E-FE2F;
      }

      /* cyrillic */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_bZF3g3D_u50.html")
          format("woff2");
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }

      /* vietnamese */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_bZF3gbD_u50.html")
          format("woff2");
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
          U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      }

      /* latin-ext */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_bZF3gfD_u50.html")
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }

      /* latin */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.html")
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /* cyrillic-ext */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_dJE3gTD_u50.html")
          format("woff2");
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
          U+A640-A69F, U+FE2E-FE2F;
      }

      /* cyrillic */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_dJE3g3D_u50.html")
          format("woff2");
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }

      /* vietnamese */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_dJE3gbD_u50.html")
          format("woff2");
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
          U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      }

      /* latin-ext */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_dJE3gfD_u50.html")
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }

      /* latin */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.html")
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /* cyrillic-ext */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_c5H3gTD_u50.html")
          format("woff2");
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
          U+A640-A69F, U+FE2E-FE2F;
      }

      /* cyrillic */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_c5H3g3D_u50.html")
          format("woff2");
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }

      /* vietnamese */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_c5H3gbD_u50.html")
          format("woff2");
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
          U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      }

      /* latin-ext */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_c5H3gfD_u50.html")
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }

      /* latin */
      @font-face {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url("../fonts/home/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.html")
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /* cyrillic-ext */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN_r8OX-hpOqc.html")
          format("woff2");
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
          U+A640-A69F, U+FE2E-FE2F;
      }

      /* cyrillic */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN_r8OVuhpOqc.html")
          format("woff2");
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }

      /* greek-ext */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN_r8OXuhpOqc.html")
          format("woff2");
        unicode-range: U+1F00-1FFF;
      }

      /* greek */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN_r8OUehpOqc.html")
          format("woff2");
        unicode-range: U+0370-03FF;
      }

      /* vietnamese */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN_r8OXehpOqc.html")
          format("woff2");
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
          U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      }

      /* latin-ext */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN_r8OXOhpOqc.html")
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }

      /* latin */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN_r8OUuhp.html")
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /* cyrillic-ext */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("../fonts/home/mem8YaGs126MiZpBA-UFWJ0bbck.html")
          format("woff2");
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
          U+A640-A69F, U+FE2E-FE2F;
      }

      /* cyrillic */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("../fonts/home/mem8YaGs126MiZpBA-UFUZ0bbck.html")
          format("woff2");
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }

      /* greek-ext */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("../fonts/home/mem8YaGs126MiZpBA-UFWZ0bbck.html")
          format("woff2");
        unicode-range: U+1F00-1FFF;
      }

      /* greek */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("../fonts/home/mem8YaGs126MiZpBA-UFVp0bbck.html")
          format("woff2");
        unicode-range: U+0370-03FF;
      }

      /* vietnamese */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("../fonts/home/mem8YaGs126MiZpBA-UFWp0bbck.html")
          format("woff2");
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
          U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      }

      /* latin-ext */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("../fonts/home/mem8YaGs126MiZpBA-UFW50bbck.html")
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }

      /* latin */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("../fonts/home/mem8YaGs126MiZpBA-UFVZ0b.html") format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /* cyrillic-ext */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UNirkOX-hpOqc.html")
          format("woff2");
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
          U+A640-A69F, U+FE2E-FE2F;
      }

      /* cyrillic */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UNirkOVuhpOqc.html")
          format("woff2");
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }

      /* greek-ext */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UNirkOXuhpOqc.html")
          format("woff2");
        unicode-range: U+1F00-1FFF;
      }

      /* greek */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UNirkOUehpOqc.html")
          format("woff2");
        unicode-range: U+0370-03FF;
      }

      /* vietnamese */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UNirkOXehpOqc.html")
          format("woff2");
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
          U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      }

      /* latin-ext */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UNirkOXOhpOqc.html")
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }

      /* latin */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UNirkOUuhp.html")
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /* cyrillic-ext */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN7rgOX-hpOqc.html")
          format("woff2");
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
          U+A640-A69F, U+FE2E-FE2F;
      }

      /* cyrillic */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN7rgOVuhpOqc.html")
          format("woff2");
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }

      /* greek-ext */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN7rgOXuhpOqc.html")
          format("woff2");
        unicode-range: U+1F00-1FFF;
      }

      /* greek */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN7rgOUehpOqc.html")
          format("woff2");
        unicode-range: U+0370-03FF;
      }

      /* vietnamese */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN7rgOXehpOqc.html")
          format("woff2");
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
          U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      }

      /* latin-ext */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN7rgOXOhpOqc.html")
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }

      /* latin */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN7rgOUuhp.html")
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /* cyrillic-ext */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN8rsOX-hpOqc.html")
          format("woff2");
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
          U+A640-A69F, U+FE2E-FE2F;
      }

      /* cyrillic */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN8rsOVuhpOqc.html")
          format("woff2");
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }

      /* greek-ext */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN8rsOXuhpOqc.html")
          format("woff2");
        unicode-range: U+1F00-1FFF;
      }

      /* greek */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN8rsOUehpOqc.html")
          format("woff2");
        unicode-range: U+0370-03FF;
      }

      /* vietnamese */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN8rsOXehpOqc.html")
          format("woff2");
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
          U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      }

      /* latin-ext */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN8rsOXOhpOqc.html")
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }

      /* latin */
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url("../fonts/home/mem5YaGs126MiZpBA-UN8rsOUuhp.html")
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }
    </style>
    <!--[if lt IE 9]>
      <link href="https://www.digigold.com/css/ie8.css" rel="stylesheet" />
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../../www.google.com/recaptcha/api.js"></script>
    <script type="text/javascript">
      var playstore_link =
        "https://play.google.com/store/apps/details?id=com.amrapali.digigoldapp";
      var appstore_link = "https://apps.apple.com/in/app/digigold/id1572431498";
    </script>

    <meta
      name="ahrefs-site-verification"
      content="5e5ad8d2f3a724f01776dad8580d784785a4265e3a73cdf6fb5b457e7b90a583"
    />
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-K6JJM6M"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="wrapper">
      <!-- ========== Start header ========== -->
      <%-include('layouts/header.ejs')%>
      <!-- ========== End header ========== -->

      <!-- ========== Start Section ========== -->
      <div
        class="goldbars"
        style="
          display: flex;
          flex-direction: row;
          padding: 1em;
          margin-top: 3em;
        "
      >
        <div
          class="goldbars_img"
          style="
            margin: auto;
            margin-top: 2em;
            background-color: #f2f2f2;
            padding: 25px;
            border-radius: 5px;
          "
        >
          <img
            src="https://event-manager.syd1.cdn.digitaloceanspaces.com/<%= selectedProduct.image %>"
            alt="<%= selectedProduct.title %>"
            style="margin-top: 1em; border-radius: 10px; max-width: 280px"
          />
          <h2
            style="
              text-align: center;
              margin-top: 0.5em;
              color: grey;
              font-size: 20px;
            "
            class="goldbars_title"
          >
            Quantity:<%=selectedProduct.quantity%>
          </h2>
        </div>

        <div class="goldbars_header_items" style="margin: 20px">
          <div
            class="goldbars_title"
            style="
              margin-top: 1em;
              color: grey;
              font-weight: 400;
              font-size: 20px;
            "
          >
            <h3><%= selectedProduct.title %></h3>
          </div>
          <div
            class="goldbars_title"
            style="
              width: 50%;
              color: #597ee6;
              font-weight: 400;
              margin-top: 1em;
              font-size: 20px;
            "
          >
            <h3><%=selectedProduct.tag%></h3>
          </div>
          <div
            class="goldbars_desc"
            style="
              margin-top: 1em;
              color: #e3b351;
              font-weight: 400;
              font-size: 18px;
            "
          >
            <p><%=selectedProduct.description%></p>
          </div>
          <div
            class="goldbars_desc"
            style="
              margin-top: 1em;
              color: #597ee6;
              font-weight: 600;
              font-size: 18px;
            "
          >
            <p>Available in : <%= selectedProduct.availableIn%></p>
          </div>
          <div class="goldbars_img_2" style="margin-top: 1em">
            <img
              src="https://event-manager.syd1.cdn.digitaloceanspaces.com/<%= selectedProduct.availableInImage %>"
              alt=""
              style="max-width: 300px; height: auto"
            />
          </div>
          <div class="goldbars_title" style="margin-top: 1em">
            <h2 style="color: grey; font-weight: 500; font-size: 20px">
              SPECIFICATION
            </h2>
            <p style="color: #597ee6; font-weight: 600; font-size: 18px">
              <%=selectedProduct.specification%>
            </p>
          </div>

          <div class="goldbars_title" style="margin-top: 1em">
            <h2 style="color: grey; font-weight: 500; font-size: 20px">
              PACKAGING
            </h2>
            <p style="color: #597ee6; font-weight: 600; font-size: 18px">
              <%=selectedProduct.packaging%>
            </p>
          </div>
        </div>
        <!-- ========== End Section ========== -->
      </div>
      <!-- ========== Start footer ========== -->
      <%-include('layouts/footer.ejs')%>
      <!-- ========== End footer ========== -->
    </div>

    <style>
      @media (max-width: 768px) {
        .goldbars {
          margin-top: 1em !important;
          flex-wrap: wrap;
          padding: 0.5em;
          flex-direction: column;
        }
        .goldbars_img {
          padding: 20px !important;
        }
        .goldbars_header_items {
          margin: 50px;
          margin-top: 0px;
        }
        .goldbars_title,
        .goldbars_title h2 {
          font-size: 16px !important;
        }
        .goldbars_title p {
          font-size: 14px !important;
        }
        .goldbars_desc {
          font-size: 14px !important;
          margin-top: 1em;
        }
      }
    </style>

    <script type="text/javascript">
      const COUNTRY_URL = "../ajax/get/countrie.html",
        STATE_URL = "../ajax/get/states.html",
        CITY_URL = "../ajax/get/cities.html";
      var is_country = false,
        countires_id = "",
        states_id = "",
        cities_id = "";
    </script>
    <script src="../js/vendor.js"></script>
    <script src="../js/bootstrap-select.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/jquery.selectBoxIt.min.js"></script>
    <script src="../js/custom.js"></script>
    <script src="../js/global.js"></script>
    <script src="../js/select2.full.js"></script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-207044394-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-207044394-1");
    </script>
    <script src="../js/authentication.js"></script>
    <script src="../js/theme.js"></script>
    <script src="../js/jQuery.product-list.js"></script>
    <script type="text/javascript">
      var uId = "";
      const DELIVERY_URL = "../ajax/delivery/cart.html";
      $(document).ready(function ($) {
        var cPageURL = window.location.href;
        var splitURL = cPageURL.split("#");
        if (splitURL.length == 2) {
          var hashEle = splitURL[splitURL.length - 1];
          if (hashEle.length > 0) {
            console.log(hashEle);
            setTimeout(() => {
              $("#" + hashEle).modal("show");
              window.history.replaceState({}, document.title, splitURL[0]);
            }, 1000);
          }
        }
      });
    </script>
    <script src="../js/jQuery.delivery.js"></script>
  </body>

  <!-- Mirrored from www.digigold.com/delivery/redeem-gold by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Aug 2023 05:09:29 GMT -->
</html>
